<div class="login-container" layout="row">
  <div flex>
    <div layout="column" class="md-inline-form">
      <md-card>
        <md-card-title>LOGIN</md-card-title>
        <md-card-content>
          <form>
            <table cellspacing="0">
              <tr>
                <td>
                      <md-input-container style="width: 100%">
                          <input mdInput placeholder="Username" name="Username" style="width: 100%">
                      </md-input-container>
                </td>
              </tr>
            </table>
            <table cellspacing="0">
                <tr>
                    <td>
                        <md-input-container style="width: 100%">
                            <input mdInput placeholder="Password" name="Password" style="width: 100%">
                        </md-input-container>
                    </td>
                </tr>
            </table>
            <button md-raised-button color="primary" class="large-button">LOGIN</button>
          </form>
    </md-card-content>
    <a routerLink="/signup">CREATE ACCOUNT</a>
    </md-card>
</div>
  </div>
</div>
