<div class="login-container" layout="row">
  <div flex>
    <div layout="column" class="md-inline-form">
      <mat-card>
        <mat-card-title>LOGIN</mat-card-title>
        <mat-card-content>
          <form>
            <table cellspacing="0">
              <tr>
                <td>
                      <mat-form-field style="width: 100%">
                          <input matInput placeholder="Username" name="Username" style="width: 100%">
                      </mat-form-field>
                </td>
              </tr>
            </table>
            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Password" name="Password" style="width: 100%">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <button mat-raised-button color="primary" class="large-button">LOGIN</button>
          </form>
    </mat-card-content>
    <a routerLink="/signup">CREATE ACCOUNT</a>
    </mat-card>
</div>
  </div>
</div>
