<h3>New Device</h3>
<form class="userForm" [formGroup]="form" novalidate (ngSubmit)="updateDevice(form.value, form.valid)">
  <mat-form-field class="firstName">
    <input
      matInput
      placeholder="Device Name"
      formControlName="name"
      name="device_name"
      type="text"
      required
      >
  </mat-form-field>
  <br>
  <mat-form-field class="lastName">
    <input
      matInput
      placeholder="Short Description..."
      formControlName="description"
      name="device_description"
      type="text"
      required
      >
  </mat-form-field>

  <br>

  <div class="userActionButtonGroup">
    <button mat-icon-button mat-mini-fab color="accent" type="submit">
      <mat-icon  class="material-icons">done</mat-icon>
    </button>
    <button mat-icon-button mat-mini-fab color="warn" matDialogClose>
      <mat-icon  class="material-icons">cancel</mat-icon>
    </button>
  </div>

  </form>
