<h3>New Device</h3>
<form class="userForm" [formGroup]="form" novalidate (ngSubmit)="updateDevice(form.value, form.valid)">
  <md-input-container class="firstName">
    <input
      mdInput
      placeholder="Device Name"
      formControlName="name"
      name="device_name"
      type="text"
      required
      >
  </md-input-container>
  <br>
  <md-input-container class="lastName">
    <input
      mdInput
      placeholder="Short Description..."
      formControlName="description"
      name="device_description"
      type="text"
      required
      >
  </md-input-container>

  <br>

  <div class="userActionButtonGroup">
    <button md-icon-button md-mini-fab color="accent" type="submit">
      <md-icon  class="material-icons">done</md-icon>
    </button>
    <button md-icon-button md-mini-fab color="warn" md-dialog-close>
      <md-icon  class="material-icons">cancel</md-icon>
    </button>
  </div>

  </form>
