<div class="signup-container" layout="row">
  <div flex>
    <div layout="column" class="md-inline-form">
      <mat-card>
        <mat-card-title>SIGN UP</mat-card-title>
        <mat-card-content>
          <form (ngSubmit)="signup()">
            <table cellspacing="0">
              <tr>
                <td>
                  <mat-form-field style="width: 100%">
                        <input matInput placeholder="Email" name="email" style="width: 100%" [(ngModel)]="model.email">
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field style="width: 100%">
                            <input matInput type="password" placeholder="Password" name="password" style="width: 100%" [(ngModel)]="model.password">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <button mat-raised-button color="primary" class="large-button">SIGN UP</button>
          </form>
    </mat-card-content>
        <a routerLink="/login">LOGIN</a>
    </mat-card>
</div>
  </div>
</div>
