<mat-card>
  <mat-card-header>
    <mat-card-title>{{channel.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      Connected devices:
      <ul>
        <li *ngFor="let client of channel.connected">
          {{client}}
        </li>
      </ul>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="end end">
    <button color="primary" mat-icon-button (click)="onEdit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button color="warn" mat-icon-button (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>