<div class="containerX">
    <div fxLayout="row wrap" class="">
        <div class="" fxFlex="95%">
            <h3 *ngIf="devices && devices.length > 0">My Devices</h3>
        </div>
        <div class="" fxFlex="5%">
            <button (click)="addDevice()" mat-fab ><mat-icon>add</mat-icon></button>
        </div>
        <hr>
    </div>
  <div fxLayout="row wrap" class="colored box nopad">
      <div fxFlex="100%"  *ngIf="devices && devices.length < 1" class="no-device-container center">
          <h3 >It looks like you don't have any device in your account.</h3>
      </div>
    <div fxFlex="33.33%" *ngFor='let device of devices'>
      <mat-card class="device-card">
        <mat-card-title>{{device.name}}</mat-card-title>
        <mat-card-content>
          <span *ngIf="device.description">{{device.description}}</span>
          <!-- channels: {{device.channels.length}} -->
        </mat-card-content>
        <mat-card-actions>
          <button mat-mini-fab mat-button color="primary" (click)="updateDevice(device)">
                  <mat-icon>mode_edit</mat-icon>
              </button>
          <device-delete [device]="device" (deleted)="onDeviceDeleted(device)"></device-delete>
          <button mat-button>5 ACTIVE CHANNELS</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
